.container {
	padding-top: 100px;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
	padding-bottom: 20px;
}

.code {
	font-family: "Inconsolata", "Courier New", Courier, monospace;
}

ol>li {
	line-height: 2;
}


/* FOR TAB VIEWS */
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
	padding-top: 20px;
}

.tab-content.current{
	display: inherit;
}


/* FOR NEXT/PREV BUTTONS */
.buttons>.next {
	float:right;
	display:inline-block;
}
.buttons>.previous {
	float:left;
	display:inline-block;
}