body {
	font-size: 16px;
}

.container {
	padding-top: 100px;
}

h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-weight: 700;
  	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
h2 {
	padding-bottom: 20px;
	color: #395ec6;
}
h3 {
	padding-bottom: 10px;
}

.code {
	font-family: "Inconsolata", "Courier New", Courier, monospace;
	font-size: 18px;
}

ol>li {
	padding-top: 3px;
	padding-bottom: 3px;
}

/* sections */
.sct {
	width: 100%;
	padding: 15px 30px;
}

.sct-primary {
	background: #ededed;
}

.sct-secondary {
	background: transparent;
}

.learn-more {
	text-align: right;
	display: block;
	font-style: italic;
	padding: 0;
	margin: 0 0 15px 0;
}


/* tab views */
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
	padding-top: 20px;
}

.tab-content.current{
	display: inherit;
}


/* next/prev buttons */
.buttons {
	padding-bottom: 100px;
}
.buttons>.next {
	float:right;
	display:inline-block;
}
.buttons>.previous {
	float:left;
	display:inline-block;
}



/* intellij syntax highlighting */

.code-block {
	font-family: "Inconsolata", "Courier New", Courier, monospace;
	font-size: 15px;
	background-color: #fbfbfb;
	margin: 20px 40px;
	padding: 20px;
	overflow: scroll;
	border: none;
}
.code-block .red {
	color: #ff0000;
}
.code-block,
.code-block .green {
	color: #008000;
}
.code-block .blue {
	color: #0000ff;
}
.code-block .purple {
	color: #660e7a;
}
.code-block .black {
	color: #000000;
}